{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen bg-gray-200 py-12">
    <div class="w-full max-w-4xl flex justify-end mb-6">
        <!-- Botón Crear Periodo -->
        <a href="/crear_horario" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition-colors duration-300 ease-in-out mr-4
               {% if pagina_activa == 'crear_horario' %}bg-green-600{% endif %}">
            Crear Horario
        </a>

        <!-- Botón Añadir Asignatura -->
        <a href="/crear_asignatura" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-lg transition-colors duration-300 ease-in-out
               {% if pagina_activa == 'crear_asignatura' %}bg-yellow-600{% endif %}">
            Añadir Asignatura
        </a>
    </div>
    {% if form.non_field_errors %}
    <div class="bg-red-100 border border-red-300 text-red-700 px-4 py-3 rounded relative mb-6 w-full max-w-4xl">
        <strong class="font-bold">Error:</strong>
        <ul class="list-disc ml-5 mt-2">
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form id="periodForm" action="/crear_periodo/" method="POST"
        class="bg-green-100 shadow-2xl rounded-3xl px-16 pt-12 pb-12 mb-8 w-full max-w-4xl border border-gray-200">
        {% csrf_token %}

        <h2 class="text-4xl font-extrabold mb-5 text-center text-blue-600">Crear Periodo</h2>

        <!-- Mostrar error si existe -->
        {% if error %}
        <div class="text-red-600 mb-4">
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <!-- Campo Nombre -->
        <div class="mb-5">
            <label for="name" class="block text-gray-700 text-lg font-semibold mb-3">
                Nombre del Periodo
            </label>
            {{ form.name }}
            {% if form.name.errors %}
            <div class="text-red-600 mt-2">
                {% for error in form.name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!-- Campo Fecha de Inicio -->
        <div class="mb-5">
            <label for="start" class="block text-gray-700 text-lg font-semibold mb-3">
                Fecha de Inicio
            </label>
            {{ form.start }}
            {% if form.start.errors %}
            <div class="text-red-600 mt-2">
                {% for error in form.start.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!-- Campo Fecha de Fin -->
        <div class="mb-5">
            <label for="end" class="block text-gray-700 text-lg font-semibold mb-3">
                Fecha de Fin
            </label>
            {{ form.end }}
            {% if form.end.errors %}
            <div class="text-red-600 mt-2">
                {% for error in form.end.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!-- Input para seleccionar días sin clase -->
        <div class="mb-5">
            <label for="dias_sin_clase_picker" class="block text-gray-700 text-lg font-semibold mb-3">
                Seleccionar días sin clase
            </label>
            <input type="text" id="dias_sin_clase_picker" placeholder="Seleccionar días"
                class="appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6">
            <input type="hidden" id="id_dias_sin_clase" name="dias_sin_clase">
        </div>

        <!-- Input para seleccionar semanas sin clase -->
        <div class="mb-5">
            <label for="semanas_sin_clase_picker" class="block text-gray-700 text-lg font-semibold mb-3">
                Seleccionar semanas sin clase
            </label>
            <input type="text" id="semanas_sin_clase_picker" placeholder="Seleccionar semanas"
                class="appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6">
            <input type="hidden" id="id_semanas_sin_clase" name="semanas_sin_clase">
        </div>

        <!-- Botón de envío -->
        <div class="flex justify-center">
            <button id="submitBtn" type="submit"
                class="bg-gradient-to-r from-blue-600 to-blue-800 hover:from-blue-700 hover:to-blue-900 text-white font-bold py-3 px-10 rounded-xl shadow-xl focus:outline-none focus:ring-4 focus:ring-blue-400 transition duration-300 ease-in-out">
                Crear Periodo
            </button>
        </div>
    </form>
</div>

<script>
    // Configuración de flatpickr para seleccionar días sin clase
    flatpickr("#dias_sin_clase_picker", {
        mode: "multiple",  // Permite seleccionar múltiples días
        dateFormat: "Y-m-d",
        onChange: function (selectedDates, dateStr, instance) {
            const dias_sin_clase = selectedDates.map(date => instance.formatDate(date, "Y-m-d"));
            document.getElementById('id_dias_sin_clase').value = JSON.stringify(dias_sin_clase);
        }
    });

    // Configuración de flatpickr para seleccionar semanas sin clase
    flatpickr("#semanas_sin_clase_picker", {
        mode: "range",  // Permite seleccionar un rango (para semanas enteras)
        dateFormat: "Y-m-d",
        onChange: function (selectedDates, dateStr, instance) {
            if (selectedDates.length === 2) {
                const semana_sin_clase = {
                    start: instance.formatDate(selectedDates[0], "Y-m-d"),
                    end: instance.formatDate(selectedDates[1], "Y-m-d")
                };
                document.getElementById('id_semanas_sin_clase').value = JSON.stringify([semana_sin_clase]);
            }
        }
    });
</script>

{% endblock %}
